@{
    ViewBag.Title = "ClientListPvt";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="background-color:white; float:right; width:72%; height:auto; border-radius:7%; margin-right:60px;">
    <form class="form-inline" role="form">
        <h1 style="color: black; font-weight: 700; font-family: Gabriola; text-align: left; font-size: 50px; margin-left: 25px;">List>Private</h1>
        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" placeholder="First Name" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" placeholder="Last Name" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="email" class="form-control" placeholder="Email" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" id="form-style">
                <input type="number" class="form-control" placeholder="License Plate" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-6" id="form-style">
                <input type="number" class="form-control" placeholder="Phone Number" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <button type="submit" id="fbutton">Search</button>
    </form>
</div>


<div class="container" style="background-color:white; float:right; width:72%; height:auto; border-radius:7%; margin-right:60px; ">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Chassi Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Street Adress</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

