@{
    ViewBag.Title = "NewOrderPvt";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="background-color:white; border-radius:7em; float:right; width:74%; height:auto;  margin-right:50px;">
    <form action="/Admin/AddPvt" method="post" class="form-inline" role="form">
        <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; margin-left:25px; font-size:50px;">New Order>Private</h1>
        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" placeholder="First Name" name="firstName" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="email" class="form-control" name="email" placeholder="Email" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="chassiNo" placeholder="Chassi Number" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="tel" class="form-control" name="licensePlate" placeholder="License Plate" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="phoneNo" placeholder="Phone number" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="mobile" placeholder="Mobile" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="postcode" placeholder="Postcode" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="streetAddress" placeholder="Street Adress" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="country" placeholder="Country" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="city" placeholder="City" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                 <select class="form-control" name="serviceCategory" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Service Category">Service Category</option>
                    <option value="Wash Services">Wash Services</option>
                    <option value="Lacque">Lacquer</option>
                    <option value="Repair">Repair</option>
                    <option value="Control">Control</option>
                    <option value="Deck">Deck</option>
                    <option value="Service">Service</option>
                    <option value="Inspection">Inspection</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="form-style">
                <select class="form-control" name="service" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Service">Service</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-sm-6" id="form-style">
                <input type="text" class="form-control" name="choosenService" placeholder="Chosen Service(s)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="form-style">
                <textarea class="form-control" name="orderDescription" placeholder="Order description" required style="margin-left: 12%; width: 900px; height: 80px; border-width: 2px; border-color: #12A8F1;"></textarea>
            </div>
        </div>
        <input type="submit" value="Save Order" class="btn btn-primary" id="fbutton" />
    </form>
</div>

