@{
    ViewBag.Title = "SellPurchaseOld";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="first-slider" style="margin-left:225px;">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row">
                    <div class="container">
                        <div class="col-md-3 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                        </div>
                        <div class="col-md-9 text-left">
                            <h3 data-animation="animated bounceInDown">Add images, or even your logo!</h3>
                            <h4 data-animation="animated bounceInUp">Easily use stunning effects</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown"> 50 animation options A beautiful</h3>
                            <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">Simple Bootstrap Carousel</h3>
                            <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider with Animate.css</h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">We are creative</h3>
                            <h4 data-animation="animated bounceInUp">Get start your next awesome project</h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item 4 -->

        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
        </div>
    </div>
</footer>

<script>
    (function ($) {

        //Function to animate slider captions
        function doAnimations(elems) {
            //Cache the animationend event in a variable
            var animEndEv = 'webkitAnimationEnd animationend';

            elems.each(function () {
                var $this = $(this),
                    $animationType = $this.data('animation');
                $this.addClass($animationType).one(animEndEv, function () {
                    $this.removeClass($animationType);
                });
            });
        }

        //Variables on page load
        var $myCarousel = $('#carousel-example-generic'),
            $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

        //Initialize carousel
        $myCarousel.carousel();

        //Animate captions in first slide on page load
        doAnimations($firstAnimatingElems);

        //Pause carousel
        $myCarousel.carousel('pause');


        //Other slides to be animated on carousel slide event
        $myCarousel.on('slide.bs.carousel', function (e) {
            var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
            doAnimations($animatingElems);
        });
        $('#carousel-example-generic').carousel({
            interval: 3000,
            pause: "false"
        });

    })(jQuery);


</script>



<div style="margin-top:1%;">
    <a href="/Admin/Ad" style="float:right;"><input type="submit" value="Submit an Ad"  id="fbutton" style="font-family:Gabriola; font-size:20px;"/></a>
    <br />
    <p style="margin-left:700px; color:gray;font-size:80px;font-family:Gabriola;">Old Car</p>
</div>



<div class="container" style="background-color: white; width: 100%; height: 80%;">
    <div class="row" style=" margin-top:2%; margin-left:130px;">
        <div class="col-xs-3" style="background-color: white; height:350px; width: 250px; margin-left: 10%; border-color:black; border-style:groove; border-width:1px;">
            <img src="~/Images/pic1.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#MModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="MModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic1.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color: #12A8F1; font-family: Gabriola;   ">
                                HONDA CITY

                            </a>
                            <br />
                            <a href="/Admin/HondaCity1" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/HondaCity" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Honda City</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 20px; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/pic2.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#NModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="NModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic2.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Toyota Corolla

                            </a>
                            <br />
                            <a href="/Admin/Corolla1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Corolla" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Toyota Corolla</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 20px; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/pic3.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#OModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="OModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic3.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Toyota Vitz

                            </a>
                            <br />
                            <a href="/Admin/Toyota1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Toyota" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki cultus</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgreen;" />

</div>

        <div class="col-xs-3" style="background-color:white; height: 350px; border-color: black; border-style: groove; border-width: 1px; width: 250px; margin-left: 20px;">
            <img src="~/Images/pic4.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#PModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="PModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic4.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Suzuki cultus

                            </a>
                            <br />
                            <a href="/Admin/Cultus1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Cultus" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki cultus</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

    </div>

</div>
<div class="container" style="background-color: white; width: 100%; height: 80%;">
    <div class="row" style=" margin-top: 3%; margin-left: 130px;">
        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 10%; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/pic5.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#QModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="QModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic5.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color: #12A8F1; font-family: Gabriola;   ">
                                Mehran

                            </a>
                            <br />
                            <a href="/Admin/Mehran1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More
                                
                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Mehran" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Mehran</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgreen;" />

</div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; border-color:black; border-style: groove; border-width: 1px; margin-left: 20px;">
            <img src="~/Images/pic6.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#RModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="RModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic6.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                ALTO

                            </a>
                            <br />
                            <a href="/Admin/Suzuki1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Suzuki" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">ALTO</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

        <div class="col-xs-3" style="background-color: white; height: 350px; border-color:black; border-style: groove; border-width: 1px; width: 250px; margin-left: 20px;">
            <img src="~/Images/pic7.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#SModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="SModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic7.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color: #12A8F1; font-family: Gabriola;   ">
                                Suzuki swift

                            </a>
                            <br />
                            <a href="/Admin/Swift1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Swift" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki swift</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgreen;" />

</div>

        <div class="col-xs-3" style="background-color: white; border-color:black; border-style: groove; border-width: 1px; height: 350px; width: 250px; margin-left: 20px;">
            <img src="~/Images/pic9.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#TModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="TModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic9.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Honda civic

                            </a>
                            <br />
                            <a href="/Admin/HondaCivic1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/HondaCivic" style="font-size: 25px; color:black; font-family: Gabriola; text-align: center;  ">Honda civic</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

    </div>

</div><div class="container" style="background-color:white; width:100%;height:80%;">
    <div class="row" style=" margin-top: 3%; margin-left: 130px;">
        <div class="col-xs-3" style="background-color: white; border-color:black; border-style: groove; border-width: 1px; height:350px; width: 250px; margin-left: 10%">
            <img src="~/Images/pic10.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#UModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="UModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic10.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Sports car

                            </a>
                            <br />
                            <a href="/Admin/Sport1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Sport" style="font-size: 25px; color:black; font-family: Gabriola; text-align: center;  ">BMW</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgreen;" />

</div>

        <div class="col-xs-3" style="background-color:white; border-color:black; border-style: groove; border-width: 1px; height:350px; width:250px; margin-left: 20px;">
            <img src="~/Images/pic11.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#VModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="VModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic11.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                               Sport Car

                            </a>
                            <br />
                            <a href="/Admin/Bmw1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Bmw" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Soprt Car</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">  BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

        <div class="col-xs-3" style="background-color:white; border-color:black; border-style: groove; border-width: 1px; height:350px; width:250px; margin-left: 20px;">
            <img src="~ /Images/pic12.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#VModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="VModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~ /Images/pic12.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Yamaha

                            </a>
                            <br />
                            <a href="/Admin/Yamaha1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/Admin/Yamaha1" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Yamaha</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">  BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

        

        <div class="col-xs-3" style="background-color: white; border-color: black; border-style: groove; border-width: 1px; height:350px; width: 250px; margin-left: 20px;">
            <img src="~/Images/pic8.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#xModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="xModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/pic8.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left:6%; color:#12A8F1; font-family: Gabriola;   ">
                                Audi

                            </a>
                            <br />
                            <a href="/Admin/Audi1" style="font-size: 25px; margin-left: 6%; color:#12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center; ">Audi</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola; ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/Admin/Buy1">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

</div></a>
                <hr style="background-color:lightgray;" />

</div>

    </div>

</div>