@{
    ViewBag.Title = "Bmw";
}

<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.83);
        }

        #img {
            margin-top: 35px;
            width: 75%;
            height: 270px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 60%;
            border: 1px solid green;
        }

        td {
            text-align: center;
            border: 1px solid white;
            font-size: 1.2em;
            color: white;
        }

        caption {
            margin: 0;
            font-weight: bold;
            font-size: 1.3em;
            background: gray;
            padding: 20px;
            border: 1px solid white;
        }
    </style>
</head>



<header style="background-color:black;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="/Admin/SellPurchase">
                    <h3 style="font-family: gabriola; font-size: 20px; color: #12A8F1; margin-right: -50px;">
                        <span class="glyphicon glyphicon-chevron-right">Back</span>
                    </h3>
                </a>

            </div>
            <div class="col-sm-6">
                <a onmouseover="this.style.color = ' #fff'" onmouseout="    this.style.color = ' #12A8F1'"
                   style=" margin-top: 12px; font-family: gabriola; font-size: 50px; color: #12A8F1;"><strong>Auto Care</strong></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-7">

            <img src="/Images/11.jpg" id="img" />


        </div>
        <div class="row">
            <div class="col-xs-5">
                <h3 style="color: #12A8F1; text-align: center; font-style: italic; font-weight: bold">Description</h3>
                <p style="font-size:17px; color:white">
                    <i>
                        The first car which BMW successfully produced and the car which launched BMW on the road to automobile production was
                        the Dixi, based on the Austin 7 and licensed from the Austin Motor Company in Birmingham, England.

                        BMW's first significant aircraft engine, and commercial product of any sort, was the BMW IIIa inline-six
                        liquid-cooled engine of 1918, known for good fuel economy and high-altitude performance.[10] With German
                        rearmament in the 1930s, the company again began producing aircraft engines for the Luftwaffe.
                        The factory in Munich made ample use of forced labour: foreign civilians, prisoners of war and inmates of t
                        he concentration camp Dachau
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <center>
                <table>
                    <caption style="text-align: center; color: #12A8F1"><i>BMW</i></caption>

                    <tr>
                        <td>Year</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>Mileag</td>
                        <td>65,000 km</td>
                    </tr>
                    <tr>
                        <td>Transmission	</td>
                        <td>Manual	</td>
                    </tr>
                    <tr>
                        <td>Color	</td>
                        <td>Gray</td>
                    </tr>
                    <tr>
                        <td>Registered City	</td>
                        <td>Lahore	</td>
                    </tr>
                    <tr>
                        <td>Engine Capacity	</td>
                        <td>1339 cc</td>
                    </tr>
                    <tr>
                        <td>Assembly</td>
                        <td>Local	</td>
                    </tr>
                    <tr>
                        <td>Body Type	</td>
                        <td>Sedan</td>
                    </tr>

                    <tr>
                        <td>Engine Type</td>
                        <td>Petrol	</td>
                    </tr>
                    <tr>
                        <td>Ad Ref #	</td>
                        <td>1959146</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>4.5L	</td>

                    </tr>


                </table>
            </center>
        </div>
    </div>
</div>


