@{
    ViewBag.Title = "MyInvoice";
    Layout = "~/Views/Shared/_LayoutClientPvt.cshtml";
}

<div class="container" style="background-color: white; width: 72%; float: right; margin-right: 70px; height: auto; border-radius: 7%; margin-left: 160px;">
    <form class="form-inline" role="form">
        <h1 style="color: #12A8F1; font-weight: 700; font-family: Gabriola; text-align: left; font-size: 50px; margin-left: 25px;">My Invoice</h1>
        <div class="row">
            <div class="col-sm-6" id="form-style" style="margin-left:120px;">
                <input type="date" class="form-control" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-6" id="form-style" style="margin-left:100px;">
                <input type="date" class="form-control" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <button type="submit" id="fbutton">Search</button>
    </form>
</div>


<div class="container" style="background-color: white; width: 72%; float: right; margin-right: 70px; height: auto; border-radius: 7%; margin-left: 160px;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Invoice Number</th>
                <th>OCR</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Our Reference</th>
                <th>Interset</th>
                <th>Reminder Fee</th>
                <th>Status</th>
                <th>Price</th>
                <th>User Name</th>
                <th>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span>Measurement</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                </th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>


