@{
    ViewBag.Title = "OrderReport";
    Layout = "~/Views/Shared/_LayoutClientPvt.cshtml";
}

<div class="container" style="background-color:white; width:60%; float: right; margin-right:150px; height: auto; border-radius: 7%; margin-left: 160px;">
    <div style=" display: block; padding: 10px;  margin-bottom: 30px; text-align: justify;">
        <form class="form-inline" role="form">
            <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; font-size:50px; margin-left:25px;">Order Report</h1>
            <div class="row">
                <div class="col-md-6" id="form-style">
                    <input id="b" type="text" class="form-control" placeholder="Registration" required style="margin-left: 35%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                </div>
                <div class="col-md-6" id="form-style">
                    <input id="c" type="text" class="form-control" placeholder="Chassi Number" required style="margin-left: 35%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" id="form-style">
                    <select id="clitype" class="form-control" required style="margin-left: 35%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                        <option value="Client Type">Client Type</option>
                        <option value="Private">Private</option>
                        <option value="Company">Company</option>
                    </select>
                </div>
                <div class="col-md-6" id="form-style">
                    <select id="a" class="form-control" required style="margin-left: 35%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                        <option value="Service Category">Service Category</option>
                        <option value="Wash Services">Wash Services</option>
                        <option value="Lacque">Lacquer</option>
                        <option value="Repair">Repair</option>
                        <option value="Control">Control</option>
                        <option value="Deck">Deck</option>
                        <option value="Service">Service</option>
                        <option value="Inspection">Inspection</option>
                        <option value="Paint">Paint</option>
                    </select>
                </div>
            </div>
            <button id="fbutton" type="button" onclick="find()">Search</button>
        </form>
    </div>
    <script>

        function find() {
            var a = $('#a').val().toString();
            var clitype = $('#clitype').val().toString();
            var b = $('#b').val().toString();
            var c = $('#c').val().toString();


            $.getJSON("/PrivateClient/SearchResult",

            {
                a: a,
                clitype: clitype,
                b: b,
                c: c

            },
             function (data) {

                 console.log(data);
                 if (data != null) {
                     var str = " ";
                     for (var i = 0; i < data.length; i++) {
                         str += "<tr>";
                         str += "<td id='r" + i + "'>" + data[i].Id + "</td>";
                         str += "<td id='r" + i + "'>" + data[i].dateTime + "</td>";
                         str += "<td id='r" + i + "'>" + data[i].licensePlate + "</td>";
                         str += "<td id='r" + i + "'>" + data[i].chassiNo + "</td>";
                         str += "<td id='r" + i + "'>" + clitype + "</td>";
                         str += "<td id='r" + i + "'>" + data[i].z[0].priceVAT + "</td>";
                         str += "</tr>";
                     }

                 }

                 else if (data == false) {
                     alert("Sorrry no record");
                 }
                 $('#t12').html(str);
             });

        };
    </script>
    <br />

    <div class="container" style="background-color:white; float:right; width:68%; height:auto; border-radius:7%; margin-right:150px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Time/Date</th>
                    <th>Registration</th>
                    <th>Chassi Number</th>
                    <th>Customer</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="t12"></tbody>
        </table>
    </div>
