@{
    ViewBag.Title = "SellPurchase";
    Layout = "~/Views/Shared/_LayoutClientPvt.cshtml";
}

<img src="~/Images/sellpic.png" style="margin-left:200px;" />


<div style="margin-top:1%;">
    <a href="/PrivateClient/Ad" style="float:right;"><input type="submit" value="Submit an Ad" id="fbutton" style="font-family:Gabriola; font-size:20px;" /></a>
    <br />
    <p style="margin-left:550px; color:gray;font-size:80px;font-family:Gabriola;">Newest Feature List </p>
</div>


<div class="container" style="background-color: white; width: 100%; height: 80%;">
    <div class="row" style=" margin-top:2%; margin-left:130px;">
        <div class="col-xs-3" style="background-color: white; height:350px; width: 250px; margin-left: 10%; border-color:black; border-style:groove; border-width:1px;">
            <img src="~/Images/p1.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#MModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="MModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/p1.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                HONDA CITY

                            </a>
                            <br />
                            <a href="/PrivateClient/HondaCity" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More
                            </a>


                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/HondaCity" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Honda City</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>
                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 20px; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/p2.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#NModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="NModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/p2.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Toyota Corolla

                            </a>
                            <br />
                            <a href="/PrivateClient/Corolla" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Corolla" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Toyota Corolla</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 20px; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/p3.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#OModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="OModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/p3.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Toyota Vitz

                            </a>
                            <br />
                            <a href="/PrivateClient/Toyota" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More
                            </a>

                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Toyota" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki cultus</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color:white; height: 350px; border-color: black; border-style: groove; border-width: 1px; width: 250px; margin-left: 20px;">
            <img src="~/Images/p4.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#PModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="PModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/p3.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Suzuki cultus

                            </a>
                            <br />
                            <a href="/PrivateClient/Cultus" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Cultus" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki cultus</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

    </div>

</div>
<div class="container" style="background-color: white; width: 100%; height: 80%;">
    <div class="row" style=" margin-top: 3%; margin-left: 130px;">
        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; margin-left: 10%; border-color: black; border-style: groove; border-width: 1px;">
            <img src="~/Images/5.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#QModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="QModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/5.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Mehran

                            </a>
                            <br />
                            <a href="/PrivateClient/Mehran" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Mehran" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Mehran</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color: white; height: 350px; width: 250px; border-color:black; border-style: groove; border-width: 1px; margin-left: 20px;">
            <img src="~/Images/6.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#RModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="RModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/6.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                ALTO

                            </a>
                            <br />
                            <a href="/PrivateClient/Suzuki" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Suzuki" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">ALTO</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

        <div class="col-xs-3" style="background-color: white; height: 350px; border-color:black; border-style: groove; border-width: 1px; width: 250px; margin-left: 20px;">
            <img src="~/Images/7.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#SModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="SModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/7.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Suzuki swift

                            </a>
                            <br />
                            <a href="/PrivateClient/Swift" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Swift" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Suzuki swift</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color: white; border-color:black; border-style: groove; border-width: 1px; height: 350px; width: 250px; margin-left: 20px;">
            <img src="~/Images/9.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#TModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="TModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/9.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Honda civic

                            </a>
                            <br />
                            <a href="/PrivateClient/HondaCivic" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/HondaCivic" style="font-size: 25px; color:black; font-family: Gabriola; text-align: center;  ">Honda civic</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY<span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

    </div>

</div><div class="container" style="background-color:white; width:100%;height:80%;">
    <div class="row" style=" margin-top: 3%; margin-left: 130px;">
        <div class="col-xs-3" style="background-color: white; border-color:black; border-style: groove; border-width: 1px; height:350px; width: 250px; margin-left: 10%">
            <img src="~/Images/10.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#UModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="UModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/10.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Sports car

                            </a>
                            <br />
                            <a href="/PrivateClient/Sport" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Sport" style="font-size: 25px; color:black; font-family: Gabriola; text-align: center;  ">BMW</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black"> BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color:white; border-color:black; border-style: groove; border-width: 1px; height:350px; width:250px; margin-left: 20px;">
            <img src="~/Images/11.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#VModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="VModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/11.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                BMW

                            </a>
                            <br />
                            <a href="/PrivateClient/Bmw" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/PrivateClient/Bmw" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">BMW</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color:black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

        <div class="col-xs-3" style="background-color: white; border-color:black; border-style: groove; border-width: 1px; height:350px; width: 250px; margin-left: 20px;">
            <img src="~/Images/12.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#WModal" /><br />

            <h5>
                <a href="/PrivateClient/Yamaha" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center;  ">Yamaha</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola;   ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    BUY<span class="glyphicon glyphicon-thumbs-up"></span>

                </div>
            </a>
            <hr style="background-color:lightgreen;" />

        </div>

        <div class="col-xs-3" style="background-color: white; border-color: black; border-style: groove; border-width: 1px; height:350px; width: 250px; margin-left: 20px;">
            <img src="~/Images/8.jpg" style="width:100%;height:40%;margin-top:5%;" data-toggle="modal" data-target="#xModal" /><br />
            <!-- G/.modal-content -->
            <div class="modal fade" id="xModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:7%; ">

                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header" style="background-color: black; border-color:gray; border-style:groove; border-width:9px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <img src="~/Images/8.jpg" style="width:50%;height:50%;margin-top:2%;margin-left:0; border-radius:40%; " />
                            <a href="/2013-toyota-prius-259786-37.html" style="font-size: 45px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                Audi

                            </a>
                            <br />
                            <a href="/PrivateClient/Audi" style="font-size: 25px; margin-left: 6%; color: #12A8F1; font-family: Gabriola; ">
                                See More

                            </a>
                        </div>





                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div><!-- /.modal-dialog -->
            <h5>
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola; text-align: center; ">Audi</a>
            </h5>
            <p class="price type-s" style="color: gray;">
                <a href="/2013-toyota-prius-259786-37.html" style="font-size: 25px; color: black; font-family: Gabriola; ">
                    Rs 2,850,000

                </a>
            </p>
            <a href="/PrivateClient/Buy">
                <div class="container" style="width: 50%; height: 30px; background-color: #12A8F1; margin-left: 1px; margin-top: 0px;">
                    <p style="color:black">BUY <span class="glyphicon glyphicon-thumbs-up"></span></p>

                </div>
            </a>
            <hr style="background-color:lightgray;" />

        </div>

    </div>

</div>
