@{
    ViewBag.Title = "ServiceListPvt";
    Layout = "~/Views/Shared/_LayoutClientPvt.cshtml";
}

<div class="container" style="background-color:white; float:right; width:74%; height:auto; border-radius:7%; margin-right:50px;">
    <form class="form-inline" role="form">
        <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; font-size:50px; margin-left:25px;">List>Private</h1>
        <div class="row">
            <div class="col-sm-4" id="form-style">
                <select class="form-control" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Company name">Category</option>
                    <option value="Company name">1</option>
                    <option value="Company name">2</option>
                    <option value="Company name">3</option>
                </select>
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Company name">Service Type</option>
                    <option value="Company name">1</option>
                    <option value="Company name">2</option>
                    <option value="Company name">3</option>
                </select>
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" placeholder="Service Name" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" id="form-style">
                <input type="number" class="form-control" placeholder="Price(Ex VAT)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-6" id="form-style">
                <input type="number" class="form-control" placeholder="Price(Inc VAT)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>

        <button type="submit" id="fbutton">Search</button>
    </form>
</div>

<div class="container" style="background-color:white; float:right; width:74%; height:auto; border-radius:7%; margin-right:50px;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Choose Category</th>
                <th>Choose Service Type</th>
                <th>Service Name</th>
                <th>Price (Ex VAT)</th>
                <th>Price (Inc VAT)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span> Action</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                            <li>Print</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>