@{
    ViewBag.Title = "CompanyService";
    Layout = "~/Views/Shared/_LayoutClientCmpny.cshtml";
}

<div class="container" style="background-color:white; float: right; margin-right: 80px; margin-top:110px; width: 70%; height: auto; border-radius: 7%; margin-left: 160px;">
    <form action="/CompanyClient/AddserviceCmpy" method="post" class="form-inline" role="form">
        <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; font-size:50px; margin-left:25px;">Services>Company</h1>
        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="text" class="form-control" name="serviceName" placeholder="Service Name" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="chooseCategory" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Choose Category">Choose Category</option>
                    <option value="Wash Services">Wash Services</option>
                    <option value="Lacque">Lacquer</option>
                    <option value="Repair">Repair</option>
                    <option value="Control">Control</option>
                    <option value="Deck">Deck</option>
                    <option value="Service">Service</option>
                    <option value="Inspection">Inspection</option>
                </select>
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="chooseService" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Choose Service Type">Choose Service Type</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="priceEX" placeholder="Price (Ex VAT)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="priceInc" placeholder="Price (Inc VAT)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="companyName" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Company name">Company name</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Save" id="fbutton" style="margin-right:50px;">
    </form>
</div>


