@{
    ViewBag.Title = "NewOrdercmpy";
    Layout = "~/Views/Shared/_LayoutClientCmpny.cshtml";
}

<div class="container" style="background-color:white; float: right; margin-right:70px; margin-top:30px; width: 72%; height: auto; border-radius: 7%; margin-left: 160px; ">
    <form action="/CompanyClient/AddCmpy" class="form-inline" role="form">
        <h1 style="color:black; font-weight:700; font-family:Gabriola; text-align:left; margin-left:25px; font-size:50px;">New Order>Company</h1>
        <div class="row">
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="licensePlate" placeholder="License Plate" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <input type="number" class="form-control" name="chassiNo" placeholder="Chassi Number" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="contactPerson" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Contact Person">Contact Person</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="companyList" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Company List">Company List</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="serviceCategory" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Service Category">Service Category</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-sm-4" id="form-style">
                <select class="form-control" name="service" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
                    <option value="Service">Service</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="form-style">
                <input type="text" class="form-control" name="choosenService" placeholder="Chosen Service(s)" required style="margin-left: 12%; width: 90%; height: 45px; border-width: 2px; border-color: #12A8F1;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="form-style">
                <textarea class="form-control" name="orderDescription" placeholder="Order description" required style="margin-left: 12%; width: 900px; height: 80px; border-width: 2px; border-color: #12A8F1;"></textarea>
            </div>
        </div>
        <input type="submit" value="Save Order" class="btn btn-primary" id="fbutton" />
    </form>
</div>