@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutClientCmpny.cshtml";
}

<div class="container-fluid force-table-responsive" style="background-color: white; overflow-y: auto; overflow-x: auto; height: 500px; width:800px; margin-right:200px;margin-left:400px;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>PIN</th>
                <th>First Name</th>
                <th>Sur Name</th>
                <th>Role</th>
                <th>Type</th>
                <th>Measure</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span>Measurement</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                </td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span>Measurement</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span>Measurement</span>
                        </button>
                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 100px;">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
